[project]
	description = "This repository is used by the developer site training content, istanbul release.  It is used for the Build the NeedIt App, Scripting in ServiceNow, Application Security, Importing Data, and Automating Application Logic courses."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soheilkarimi
[access "refs/for/refs/*"]
	read = group user/soheilkarimi
	push = group user/soheilkarimi
	label-Code-Review = -2..+2 group user/soheilkarimi
	label-Verified = -1..+1 group user/soheilkarimi
	rebase = group user/soheilkarimi
	removeReviewer = group user/soheilkarimi
	submit = group user/soheilkarimi
[access "refs/heads/*"]
	read = group user/soheilkarimi
	create = group user/soheilkarimi
	push = +force group user/soheilkarimi
	pushMerge = group user/soheilkarimi
[access "refs/tags/*"]
	push = group user/soheilkarimi
	push = +force group user/soheilkarimi
